.rounded {
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(224, 220, 220);
}

.shadow {
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.linkedin-signup {
  width: 320px;
  padding: 10px;
  border: 1px solid rgb(224, 220, 220);
  border-radius: 10px;
}

.email {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(224, 220, 220);
  border-radius: 5px;
}

.join-btn {
  width: 100%;
  padding: 10px;
  background-color: #0073b1;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.twitter-box {
  display: flex;
  align-items: center;
  width: 400px;
  padding: 10px;
  border: 1px solid rgb(224, 220, 220);
  border-radius: 25px;
}

.small-circle-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.tweet {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 25px;
  margin-right: 10px;
}

.tweet-btn {
  padding: 10px 20px;
  background-color: #1da1f2;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}