* {
  font-family: 'Arial';
}

/*  =================== EX.1 =================== */
.div1-container {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.new {
  color: rgb(240, 165, 27);
  font-weight: bold;
}

.mac {
  font-size: 24px;
  margin: 10px 0;
}

.pp {
  font-size: 36px;
  font-weight: bold;
}

.price {
  font-size: 20px;
}

.buy-btn {
  padding: 10px 20px;
  font-size: 18px;
  color: white;
  background-color: rgb(57, 57, 255);
  border: none;
  border-radius: 28px;
  cursor: pointer;
}

/*  =================== EX.2 =================== */

.div2-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

#grey {
  color: grey;
  font-weight: lighter;
}

.usd {
  font-size: 18px;
  color: #555;
}

.d2 {
  font-size: 18px;
  color: green;
}

.d3 {
  font-size: 18px;
  color: red;
}