/* ============= Lesson 5 Exercises ============ */

#thoma-p {
  font-family: 'Tahoma';
  font-weight: bold;
  font-size: 25px;
}

#p1-arial {
  font-family: Arial;
  font-weight: bold;
  font-size: 26px;
}

#p2-arial {
  text-align: left;
  font-style: italic;
  color: red;
  font-size: 18px;
}

#arial-h2 {
  text-align: center;
  font-size: 30px;
  font-family: Arial;
}

#arial-p {
  text-align: center;
  font-size: 18px;
  font-family: Arial;
  font-weight: lighter;
}

#verdana-h2 {
  font-size: 25px;
  font-family: verdana;
}

#verdana-span {
  color: rgb(126, 121, 121);
  font-size: 18px;
  font-family: Arial;
  font-weight: lighter;
}

#start-btn {
  background-color: #017501;
  color: white;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 18px;
  padding-left: 18px;
  margin-right: 12px;
}

#verdana-p{
  font-size: 18px;
  font-weight: lighter;
  font-family: verdana;
}